{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="media border p-3">
            <div class="media-body">
                <h3>{{ user.username }} Profile
                    <small class="text-muted">
                        <a class="ml-4" href="{% url 'edit' %}">Edit</a>
                    </small>
                </h3>
                <p class="text-md-left"><b>First Name:</b> {{ user.first_name }}</p>
                <p class="text-md-left"><b>Last Name:</b> {{ user.last_name}}</p>
                <p class="text-md-left"><b>Email:</b> {{ user.email }}</p>
                <p class="text-md-left"><b>Zip Code:</b> {{ user.profile.user_zip }}</p>
                <p class="text-md-left"><b>Bio:</b> {{ user.profile.bio }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}